* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;

    --gray-100: #e1e1e6;
    --gray-300: #a8a8b3;
    --gray-800: #29292e;
    --gray-850: #1f2729;
    --gray-900: #121214;

    --cyan-500: #61dafb;
    --yellow-500: #eba417;
}

// config tela de ipad
@media (max-width: 1080px) {
    html {
        font-size: 93.75%; // equivalente a 15px ( Cálculo 16px(padrão) 16 * 0,9375 = 15 )
    }
}

// config tela de mobile
@media (max-width: 720px) {
    html {
        font-size: 87.5%; // equivalente a 14px
    }
}

body {
    background: var(--gray-900); // cor de fundo do corpo
    color: var(--white); // cor da fonte do corpo
}

body, input, textarea, select, button {
    font: 400 1rem "Roboto", sans-serif; // 400 de espessura
}

button {
    cursor: pointer;
}

a {
    color: inherit; // assume a cor do elemento pai
    text-decoration: none; // retira o underline
}